language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - pip install cov-core
  - pip install nose2
  - pip install coveralls
script: 
  - nose2 --with-coverage --coverage pypog
after_success:
  coveralls